.imagesContainer{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.HIGH {
    background-color: darkgrey;
    font-weight: bold;
}
.LOW {
    background-color: lightblue;
    font-weight: bold;
}