.routerNavigateDemo{
    border: 1px solid white;
    margin-top: 3rem;
    padding: 2rem;
}

.hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.not-hover{
    background-color: initial;
    color: white;
}